<style type="text/css">
  .template-404 .title + * {
    margin-top: 1rem;
  }

  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }
</style>

<div class="template-404 page-width page-margin center">
  {% unless section.settings.disable_404_label %}
  <p>
    {{ 'templates.404.subtext' | t }}
  </p>
    {% endunless %}
  <h1 class="title">
    {{ 'templates.404.title' | t }}
  </h1>
  <a href="{{ routes.all_products_collection_url }}" class="button">
    {{ 'general.continue_shopping' | t }}
  </a>
</div>

{% schema %}
{
  "name": "t:sections.404.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "disable_404_label",
      "label": "t:sections.404.settings.disable_404_label.label",
      "default": false
    }
  ]
}
{% endschema %}